@model List<ChessProject.Models.Piece>
@{
    ViewData["Title"] = "Chess";
}

<h1>Chess</h1>
<h4>Are you ready to play?</h4>
<fom id="formChess" method="post">
    <input type="button" id="newGame" value="Go!" />
</fom>

<p></p>
<fom id="formInsertPiece" method="post">
    <label>
        Enter the coordinates of the chess piece selected:
    </label>
    <input type="text" id="pieceSelected" class="input-group-text" />
    <label>
        Enter the coordinates of the new position:
    </label>
    <input type="text" id="positionSelected" class="input-group-text"  />
</fom>

<div class="board">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">a</th>
                <th scope="col">b</th>
                <th scope="col">c</th>
                <th scope="col">d</th>
                <th scope="col">e</th>
                <th scope="col">f</th>
                <th scope="col">g</th>
                <th scope="col">h</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">8</th>
                <td id="8a" class="square">@ViewBag.Pieces[0].Img</td>
                <td id="8b" class="squareDark"></td>
                <td id="8c" class="square">@ViewBag.Pieces[22].Img</td>
                <td id="8d" class="squareDark">@ViewBag.Pieces[31].Img</td>
                <td id="8e" class="square"></td>
                <td id="8f" class="squareDark">@ViewBag.Pieces[9].Img</td>
                <td id="8g" class="square"></td>
                <td id="8h" class="squareDark">@ViewBag.Pieces[16].Img</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td id="7a" class="squareDark"></td>
                <td id="7b" class="square">@ViewBag.Pieces[1].Img</td>
                <td id="7c" class="squareDark"></td>
                <td id="7d" class="square"></td>
                <td id="7e" class="squareDark">@ViewBag.Pieces[15].Img</td>
                <td id="7f" class="square"></td>
                <td id="7g" class="squareDark">@ViewBag.Pieces[21].Img</td>
                <td id="7h" class="square"></td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td id="6a" class="square">@ViewBag.Pieces[4].Img</td>
                <td id="6b" class="squareDark"></td>
                <td id="6c" class="square">@ViewBag.Pieces[29].Img</td>
                <td id="6d" class="squareDark">@ViewBag.Pieces[3].Img</td>
                <td id="6e" class="square"></td>
                <td id="6f" class="squareDark">@ViewBag.Pieces[11].Img</td>
                <td id="6g" class="square"></td>
                <td id="6h" class="squareDark"></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td id="5a" class="squareDark"></td>
                <td id="5b" class="square">@ViewBag.Pieces[10].Img</td>
                <td id="5c" class="squareDark"></td>
                <td id="5d" class="square"></td>
                <td id="5e" class="squareDark">@ViewBag.Pieces[28].Img</td>
                <td id="5f" class="square"></td>
                <td id="5g" class="squareDark"></td>
                <td id="5h" class="square">@ViewBag.Pieces[27].Img</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td id="4a" class="square">@ViewBag.Pieces[30].Img</td>
                <td id="4b" class="squareDark"></td>
                <td id="4c" class="square">@ViewBag.Pieces[14].Img</td>
                <td id="4d" class="squareDark"></td>
                <td id="4e" class="square"></td>
                <td id="4f" class="squareDark">@ViewBag.Pieces[26].Img</td>
                <td id="4g" class="square"></td>
                <td id="4h" class="squareDark">@ViewBag.Pieces[23].Img</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td id="3a" class="squareDark">@ViewBag.Pieces[13].Img</td>
                <td id="3b" class="square"></td>
                <td id="3c" class="squareDark">@ViewBag.Pieces[17].Img</td>
                <td id="3d" class="square"></td>
                <td id="3e" class="squareDark">@ViewBag.Pieces[5].Img</td>
                <td id="3f" class="square"></td>
                <td id="3g" class="squareDark">@ViewBag.Pieces[25].Img</td>
                <td id="3h" class="square">@ViewBag.Pieces[24].Img</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td id="2a" class="square">@ViewBag.Pieces[6].Img</td>
                <td id="2b" class="squareDark"></td>
                <td id="2c" class="square"></td>
                <td id="2d" class="squareDark">@ViewBag.Pieces[19].Img</td>
                <td id="2e" class="square">@ViewBag.Pieces[20].Img</td>
                <td id="2f" class="squareDark"></td>
                <td id="2g" class="square">@ViewBag.Pieces[2].Img</td>
                <td id="2h" class="squareDark"></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td id="1a" class="squareDark"></td>
                <td id="1b" class="square"></td>
                <td id="1c" class="squareDark">@ViewBag.Pieces[12].Img</td>
                <td id="1d" class="square"></td>
                <td id="1e" class="squareDark">@ViewBag.Pieces[18].Img</td>
                <td id="1f" class="square"></td>
                <td id="1g" class="squareDark">@ViewBag.Pieces[8].Img</td>
                <td id="1h" class="square">@ViewBag.Pieces[7].Img</td>
            </tr>
        </tbody>
    </table>
</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $("#pieceSelected").prop('disabled', true);
            $("#positionSelected").prop('disabled', true);

            $("#newGame").click(function (event) {
                //$(".board .table tbody td").empty();
                location.href = '@Url.Action("NewGame", "Chess")';
            });

            if ('@TempData["mensaje"]' == "redirect") {
                //$(".board .table tbody td").empty();

                $("#pieceSelected").prop('disabled', false);
                $("#positionSelected").prop('disabled', false);

                //LoadPiece();
            }

            $("#pieceSelected").change(function () {
                Validate();
            });

            function Validate() {
                var varEntry = $("#pieceSelected").val();

                //busco en tabla
                var square = "#" + varEntry;
                var squareVar = $(square).val();

                if (squareVar == null)
                { alert("Empty square"); }
                else {

                    switch (squareVar) {
                        case "♟": alert(peon); //pawn black
                        case "♙": alert(peon); //pawn white

                        case "♞": alert(tower); //tower black
                        case "♘": alert(tower); //tower white

                        case "♝": alert(bishop); //bishop black
                        case "♗": alert(bishop); //bishop white
                    }
                }
            }

        });
    </script>
}